html,body{
	
	margin: 0;
	padding: 0;
	
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 16px;
}

h1{
	font-size: 2.25em;
}
h2{
	font-size: 1.5em;
}

p{
	font-size: 1em;
}

header{
	background: #ff6633;
	position: relative;
	padding-top: 10%; padding-bottom: 10%;
}


section{background: #eee; position: relative;
	overflow: hidden;
	padding-top: 5%; padding-bottom: 5%;
}

section:nth-child(odd){

background: #ccc;
}

.content{
 width: 70%;
 margin: 0 auto;
 position: relative;
 display: block;

}

.test{
	position: absolute;
	top: 20px;
	right: 50px;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	width: 100px;
	padding: 5px;
	background: rgba( 256, 256 , 256, .5);
	color: black;
	text-align: center;
	border-radius: 25px;
	

    transition: all .5s;
}

.test:hover{
background: rgba( 256, 256 , 256, .8);

    transition: all .5s;


}

.info{

clear: both;
width: 200px;
height: 100px;
color: #fff;
}

.logo{
	height: 100px;
	width: 100px;
	background: blue;
	float: left;

}
.titre{
	width: 100px;
	display: block;
	float: right;
	line-height: 100px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 
}
/*desc*/

.description{

clear: both;

}

.description img{
	float: left;
	width: 50%;
	height: 350px;
	background: yellow;
}
.description div{
	float: right;
	display: block;
	width: 40%;
	margin-left: 10%;
}

/*fct*/

.fonctionalites{
	clear: both;
	position: relative;
	margin-top: 25%;
	margin: 0;
	padding: 0;
	padding-top: 5%;
}



.fonctionalites li{
	list-style: none;
	width: 20%;
	padding: 2.5%;
	
	float: left;
}

.fonctionalites li img{
	background: orange;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.fonctionalites li p{
	text-align: center;
}

.redirection {
	clear: both;
}
.redirection .redirection_link{

	float: left;
	width: 40%;
	margin-right: 10%;
}

.redirection .qr {
	float: right;
	width: 50%;
	height: 350px;
	
	background: blue;
}


/*footer*/


footer
{
	height: 50px;
	background: #ff6633;
	line-height: 50px;
	color: white;
}

footer small{
	 margin-left: 10px;
     float: left;
}



/*media*/

@media screen and (max-width: 850px) {
  .redirection .redirection_link {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 2.5%;
  }

  .redirection .qr{
    float: none;
    width: 100%;
    height: 200px;
  }

  .description img{

float: none;
    width: 100%;
    height: 200px;


  }
  .description div{
float: none;
    width: 100%;
    margin-left: 0;

  }

  .fonctionalites li{
	list-style: none;
	width: 100%;
	padding: 0%;
	
	float: none;
}

.test{display: none;}

h2{
	font-size: 1em;
}

}